<!-- <div class="button-group" ng-if="!hideGroup">
  <button class="primary button-group-main" ng-click="onButtonClick(buttons[0])"  ng-attr-title="{{buttons[0].label}}">{{buttons[0].label}}</button>
  <button class="primary button-group-toggle" ng-class="{open: showMoreButtons}" ng-if="!hideMoreLink" ng-click="showMore($event)"></button>
  <div class="flyout-view opened" ng-if="showMoreButtons" ng-style="{width: {{flyoutWidth}} + 'px', top: {{flyoutTop}} + 'px'}">
    <div class="flyout">
      <div class="flyout-content">
        <ul>
          <li ng-repeat="button in moreButtons"><a ng-click="onButtonClick(button)" ng-attr-title="{{button.label}}">{{button.label}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<div class="button-group" ng-attr-id="idLabel"></div>
