<div class="flex-stack contactInfo form">
  <div class="form-field">
    <div class="field-label">Are you sure you want to do this?</div>
  </div>
  <div class="actionButtons">
    <div class="width40percent button-group">
      <button class="button-group-main secondary" ng-click="closeThisDialog()">No</button>
    </div>
    <div class="width40percent button-group">
      <button class="button-group-main primary floatRight" ng-click="closeThisDialog('true')">Yes</button>
    </div>
  </div>
</div>
