<div class="scrollable">
  <div class="alert-view" ng-show="showAlert">
    <div class="alert-message"></div>
  </div>
  <div class="header">
    <div class="text" ng-bind="headerText"></div>
  </div>
  <div class="upload-docs">
    <form class="form">
      <ul>
        <li>
          <div class="flex-columns">
            <!--<div class="first">{{document.documentName}}</div>-->
            <div class="second">
              <div class="input-group">

              
                <ng-csv-import content="csv.content"
                material
                md-button-class="md-icon-button md-raised md-accent"
                md-svg-icon="file:ic_file_upload_24px"
                header="csv.header"
                separator="csv.separator"
                result="csv.result"
                accept="csv.accept"></ng-csv-import>
                
                <!--{{ csv.result }}-->

                
              </div>
            </div>
            <div>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>
