<div class="invoice">
  <div class="closableSection" ng-class="{closeHead: !headOpen}">
    <div class="titleSection clearfix">
      <div class="title">Business vertical based reports</div>
      <div class="primaryActions">
        <!-- <button class="primary" ng-click="previewInvoice()">Generate invoice</button> -->
        <button-group dynamic-buttons="buttons"></button-group>
      </div>
    </div>
    <div class="closableHeader filterSection form">
      <div class="flex-stack">
        <div class="flex-columns">
          <div class="first">
            <div class="sectionHeader">Filters</div>
              <div class="filter form-field">
                <div class="filterLabel field-label">Client</div>
                <div class="multi-select">
                  <isteven-multi-select input-model="clients" output-model="filters.clients" button-label="code" item-label="code" tick-property="ticked"></isteven-multi-select>
                </div>
              </div>
            <div class="filter form-field">
              <div class="filterLabel field-label">Trip billing status</div>
                <div class="multi-select">
                  <isteven-multi-select input-model="statuses" output-model="filters.statuses" button-label="status" item-label="status" tick-property="ticked"></isteven-multi-select>
                </div>
            </div>
            <div class="filter form-field">
              <div class="filterLabel field-label">Business type</div>
                <div class="multi-select">
                  <isteven-multi-select input-model="verticals" output-model="filters.verticals" button-label="vertical" item-label="vertical" tick-property="ticked"></isteven-multi-select>
                </div>
            </div>
          </div>
          <div class="second">
            <div class="form-field" style="margin-top: 45px">
              <div class="input-group">
                <input type="checkbox" id="dateFilter" class="checkbox" ng-model="filters.dateFilter" />
                <div class="field-label"><label for="dateFilter">Filter by trip dates</label></div>
              </div>
            </div>
            <div class="flex-stack" ng-class="{disabled: !filters.dateFilter}">
              <div class="flex-columns">
                <div class="form-field">
                  <div class="input-group">
                    <input type="radio" id="tripStartFilter" name="tripDatesFilter" class="radio" ng-model="filters.tripDatesFilter" value="START" checked />
                    <div class="field-label"><label for="tripStartFilter">Trip start range</label></div>
                  </div>
                </div>
                <div class="form-field">
                  <div class="input-group">
                    <input type="radio" id="tripEndFilter" name="tripDatesFilter" class="radio" ng-model="filters.tripDatesFilter" value="END"/>
                    <div class="field-label"><label for="tripEndFilter">Trip closure range</label></div>
                  </div>
                </div>
              </div>
              <div class="flex-columns">
                <div class="filter form-field">
                  <div class="filterLabel field-label">From</div>
                  <div class="filterValue input-group">
                    <div class="date-picker inputIconDiv">
                      <input date-time auto-close="true" view="date" format="DD-MM-YYYY HH:mm" ng-model="filters.fromDate">
                      <i class="fa fa-calendar" focus-input></i>
                    </div>
                  </div>
                </div>
                <div class="filter form-field">
                  <div class="filterLabel field-label">To</div>
                  <div class="filterValue input-group">
                    <div class="date-picker inputIconDiv">
                      <input date-time auto-close="true" view="date" format="DD-MM-YYYY HH:mm" ng-model="filters.toDate">
                      <i class="fa fa-calendar" focus-input></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filterBtn button-group">
          <button class="button-group-main primary" ng-click="filter()">Filter</button>
        </div>
      </div>
    </div>
    <div class="closeBtn" ng-click="headOpen = !headOpen">
      <i class="fa fa-angle-up"></i>
    </div>
  </div>
  <div class="content" ng-if="tripDetailsList && tripDetailsList.length > 0">
    <div class="flex-columns">
        <div class="searchBar inputIconDiv">
          <input type="text" ng-model="q" placeholder="search" />
          <i class="fa fa-search"></i>
        </div>
        <div class="selectedFilters">
          <div class="filters">
            <div class="filterType" ng-repeat="filter in filterValues">
              {{filter.label}}:
              <a ng-repeat="value in filter.values">{{value}}</a>
            </div>
          </div>
          <div class="row othersFilter">
            <ul class="pager">
              <div class="filterBtn button-group" >
                <button class="button-group-main primary" style="width: 200px" ng-click="downloadDataCSV()">Download report</button>
              </div>
            </ul>
          </div>
        </div>
      </div>
    <div class="invoices">
      <table-view page-data="tripDetailsTableData" data="tripDetailsList" filter-by="q"></table-view>
    </div>
  </div>
</div>
