<div class="client">
  <div class="closableSection" ng-class="{closeHead: !headOpen}">
    <div class="titleSection clearfix">
      <div class="title">Clients</div>
    </div>
    <div class="closableHeader filterSection form">
      <div class="flex-stack">
        <div class="flex-columns">
          <div class="first">
            <div class="sectionHeader">Filters</div>
            <div class="filter form-field">
            </div>
          </div>
        </div>
        <div class="filterBtn button-group">
          <button class="button-group-main primary">Filter</button>
        </div>
      </div>
    </div>
    <div class="closeBtn" ng-click="headOpen = !headOpen">
      <i class="fa fa-angle-up"></i>
    </div>
  </div>
  <div class="content">
    <div class="module-container clientDashboardTable">
      <div class="searchBar inputIconDiv">
          <input type="text" ng-model="q" placeholder="search" />
          <i class="fa fa-search"></i>
        </div>
      <table-view page-data="clientTable" data="showClients" filter-by="q"></table-view>
    </div>
  </div>
</div>
